.display-question-container {
  min-height: 80px;
  width: 100%;
  display: flex;
  background-color: #fdf7e2;
  border-bottom: 1px solid #cccc;
  padding: 1rem;
  > div {
    padding: 1rem;
    &:last-child {
      flex-grow: 1;
    }
    // margin-right: auto;
  }
  .display-votes-container p {
    text-align: center;
  }
  //   align-items: center;
}
.display-time {
  text-align: right;
}
.display-tags {
  > div {
    transition: all 0.3s ease-in-out;
  }
  > div:hover {
    background-color: #007ac625;
    color: #007ac6;
  }
}
