#question-details-page {
  float: left;
  width: calc(100% - 300px - 24px);
  margin: 1rem 0;
  display: flex;

  flex-direction: column;
}

.question-action-user {
  > div > button {
    margin: 1rem 1rem 1rem 0;
  }
  > div:nth-child(2) {
    text-align: right;
    a > div {
      margin-left: auto;
    }
  }
}
.question-details-container {
  > * {
    margin: 0rem 2rem;
  }
}
.main-question-container {
  display: flex;
  justify-content: space-evenly;
  > div:nth-child(2) {
    flex-grow: 1;
    padding: 0 3rem;
  }
  > div:nth-child(1) {
    padding: 1.5rem 0;
  }
}
.question-detail-container-1 {
  order: -1;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;

  > svg {
    cursor: pointer;
    font-size: 3rem;
    transition: 0.33s;
    border-radius: 50%;
    &:hover {
      background-color: #ccc;
    }
  }
  p {
    margin-bottom: -0px;
    font-size: 2rem;
  }
}
