#main-bar {
  width: calc(100% - 300px - 24px);
  float: left;
  padding: 0px;
  margin: 25px 0;
  .main-bar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
