.app-container {
  position: relative;
}

.chat-support {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
}

.chat-widget {
  height: 70vh;
  position: fixed;
  bottom: 40px;
  right: 40px;
  display: flex;
  flex-direction: column;
  //   width: 300px;
  //   padding: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  //   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 999;
  > svg {
    border: 1px solid #ccc;
    font-size: 2rem;
  }
}

.chat-widget h2 {
  margin-top: 0;
}

.chat-widget button {
  display: block;
  margin-top: 10px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}
