$shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
  rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

#right-sidebar-main {
  margin-left: 24px;
  float: right;
  width: 300px;
  margin: 25px 0 15px 24px;
  font-size: 1rem;
}

.widget,
.widget-tags {
  // margin-top: 10px;
  box-shadow: $shadow;
  border-radius: 3px;
}

.widget h4 {
  background-color: #fbf3d5;
  margin: 0%;
  padding: 15px;
  border: solid 1px #f1e5bc;
  font-size: 13px;
}

.right-widget-sidebar-1 {
  background-color: #fdf7e2;
  padding: 15px;
  border: solid 1px #f1e5bc;
}

.right-widget-sidebar-1 .right-widget-sidebar-inner {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}

.right-widget-sidebar-1 .right-widget-sidebar-inner p {
  padding-left: 10px;
  margin-top: 0%;
  font-size: 13px;
}

.widget-tags {
  margin-top: 40px;
}

.widget-tags h4 {
  margin: 0%;
  padding: 15px;
  background-color: #f8f9f9;
  border: solid 1px #e3e6e8;
  font-size: 13px;
}

.widget-tags-div {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
  border: solid 1px #e3e6e8;
  padding: 10px;
}

.widget-tags-div div {
  margin: 5px;
  background-color: #e1ecf4;
  color: #39739d;
  font-size: 13px;
  cursor: pointer;
}

@media screen and (max-width: 1020px) {
  .right-sidebar {
    display: none;
  }
}
