$background: #f8f9f9;
$shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
  rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

.main-nav {
  width: 100%;
  min-height: 50px;
  margin: 0% auto;
  border-top: 3px solid #ef8236;
  box-shadow: $shadow;
  position: fixed;
  z-index: 999;
  top: 0%;
  left: 0%;
  background-color: $background;
  display: flex;
  justify-content: center;
  align-items: center;
}
#nav-bar {
  display: flex;
  align-items: center;
  height: 100%;
  min-width: 85%;
  justify-content: space-between;

  .nav-form {
    display: flex;
    align-items: center;
    flex-grow: 0.5;
    border: 1px solid #ccc;
    background-color: white;
    padding: 2px 5px;
    border-radius: 5px;
    > svg {
      cursor: pointer;
    }
    > input {
      padding: 5px;
      width: 100%;
      height: 100%;
      border: none;
      outline: none;
    }
  }
  .nav-link {
    padding: 8px;
    border-radius: 20px;
    transition: 0.33s;
  }
  .nav-link:hover {
    background-color: #dddd;
  }
}

@media screen and (max-width: 820px) {
  .nav-form {
    display: none;
  }
}
@media screen and (max-width: 600px) {
}
